# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: cf666cfc1c4fbc43e482c07d32235298a4c364601a0dc1769df5c07a980c85d233e21fa5d555b86e8c473ed6e522cc313e127b18ed93285fe3fc3ee23b10a8c1

test:
  secret_key_base: 7f2356da8a9528f53affd510cf2eafa275a80a535d3129e602df6e0f3d201f51f4a4f5472d4b59628605d28d0612e6d1f84be6cf45825f2186f3e66a362e0ece

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
