html {
  height: 100%;
  min-width: 1140px;
}

body {
  font-family: $lato;
  margin: 0;
  height: 100%;
  width: 100%;

  h1, h2, h3, h4, h5, h6, a, p {
    font-weight: 100;
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

section {
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
}

.wrapper {
  margin: auto;
  width: 1140px;
}

// Button

.button {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, .1);
  color: white;
  display: inline-block;
  font-size: 16px;
  font-family: $lato;
  font-weight: 100;
  padding: 9px 35px;
  text-align: center;
  transition: all 0.5s ease;
  vertical-align: middle;

  &:hover {
    border: 2px solid rgba(255, 255, 255, 1);
  }
}

// Form

.form {
  margin: auto;
  position: relative;
  width: 450px;

  .input {
    border: none;
    background-color: transparent;
    box-sizing: border-box;
    box-shadow:none;
    color: white;
    font-weight: 100;
    font-size: 30px;
    font-family: $lato-italic;
    outline: none;
    padding: 6px 10px;
    width: 100%;
  }


  .field {
    border-bottom: 1px solid white;
    display: inline-block;
    margin-bottom: 45px;
    width: 100%;
  }

  .form-row {
    height: 45px;
    padding-bottom: 60px;
    margin: 30px 0;
  }

  .label {
    display: inline-block;
    font-size: 14px;
    font-weight: 100;
    float: left;
  }

  .btn-right {
    position: absolute;
    right: 0;
  }

  a {
    color: rgb(196, 189, 189);
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}