.login-list {
  margin: 10px 0 30px;
  float: right;

  li:nth-child(2) {
    margin-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
  }
}

.panel-element {
  font-weight: 100;
  margin-right: 10px;
  padding-top: 25px;
}