.wrapper {
  padding-top: 120px;
  position: relative;
}

.login-list {
  position: absolute;
  top: 10px;
  right: 0;

  li:nth-child(2) {
    margin-left: 10px;
  }

  a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
  }
}