.sessions.new {
  background-image: url('1.jpg');

  .wrapper {
    padding-top: 110px;
  }

  h2 {
    font-size: 45px;
    margin-bottom: 15px;
  }

  .line {
    background-image: url('line.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 10px;
    width: 100px;
    margin: 0 auto 60px auto;
  }
}

